{% extends 'registration/base.html' %}

{% load static %}

{% block title %} 
Redefinir Senha
{% endblock%}

{% block action %}{% endblock %}

{% block content %}
<div class="form-group">

  <label for="username" class="label">Email:</label>
<input id="id_email" type="email" name="email" class="form-control _ge_de_ol" type="text" placeholder="Digite seu email" required="" aria-required="true">
</div>
<div class="px-2">
    <small id="emailHelp" class="form-text text-muted">Por favor, insira o seu endereço de e-mail acima. Iremos enviar-lhe instruções detalhadas sobre como redefinir a sua senha.</small>
</div>


<div class="form-group">
<button role="input" class="_btn_04">
  <span class="login-text"> Enviar Email</a>
</button>
</div>

<div class="form-group pt-1">
    <a href="/usuarios/login" class="_btn_04" style="background-color: rgb(214, 214, 214);">
      <span class="login-text"> Cancelar </a>
      </a>
</div>

{% endblock %}
