.sidebar,
.sidebar .sidebar-brand-wrapper,
.navbar .navbar-menu-wrapper,
.navbar .navbar-brand-wrapper,
.navbar,
.modal-header,
.toggler {
    background-color: #0f1015 !important;
}

.sidebar .nav .nav-item.active>.nav-link,
.sidebar .nav:not(.sub-menu)>.nav-item:hover:not(.nav-category):not(.account-dropdown)>.nav-link,
.nav-link:hover .menu-title,
.label-img {
    background-color: #c6a436 !important;
}

.sidebar .nav .nav-item .menu-icon {
    background-color: #0f1015 !important;
}

.sidebar .nav .nav-item.active>.nav-link::before {
    background-color: rgb(147, 83, 1) !important;
}

.content-wrapper,
.bg-gray-dark,
footer {
    background-color: rgb(248, 248, 248) !important;
}

.card,
.modal-footer,
.modal-body {
    background-color: rgb(250, 250, 250) !important;

}


.sidebar .sidebar-brand-wrapper .sidebar-brand img {
    width: 200px !important;
    height: 45px !important;
}

.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini img {
    width: 100% !important;
    height: 50px;
}

.sidebar-icon-only .sidebar .sidebar-brand-wrapper .brand-logo-mini {
    padding: 0px;
}

.sidebar .sidebar-brand-wrapper .sidebar-brand {
    padding: 0px !important;
    text-align: center !important;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item p,
.preview-list .preview-item .preview-item-content .preview-subject,
.table thead th,
.jsgrid .jsgrid-table thead th,
.modal-title {
    color: white !important;
}

.navbar .navbar-menu-wrapper {
    box-shadow: none !important;
}

.navbar .navbar-menu-wrapper .navbar-toggler,
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link .navbar-profile .navbar-profile-name,
.navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right,
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown,
.sidebar .nav .nav-item.profile .profile-desc .profile-name h5,
.sidebar .nav .nav-item.profile .profile-desc .profile-name span,
.sidebar .nav .nav-item.profile .profile-desc .mdi-dots-vertical,
.brand-logo,
.brand-logo-mini,
.sidebar .nav .nav-item .nav-link,
.toggler,
.dropdown-item:hover,
.btn-click:hover {
    color: #c6a436 !important;
}

.toggler {
    border: 0px;
}

.toggler-left {
    display: none;
}

@media(min-width: 935px) {
    .toggler-left {
        display: block;
    }
}

.preview-list .preview-item .preview-item-content p,
h1,
h2,
h3,
h4,
h5,
h6,
.flex-grow p,
.modal-body {
    color: #0f1015 !important;
}

.sidebar .nav .menu-items .nav-link .menu-icon i,
.sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-item.preview-item .preview-thumbnail .preview-icon i,
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item i {
    color: #c6a436 !important;
}

.sidebar-offcanvas.active {
    left: 0 !important;
}

.sidebar-offcanvas {
    left: -244px !important;
}

.sidebar .nav .nav-item a:hover,
.dropdown-item .preview-item,
.sidebar .nav .nav-item.active>.nav-link .menu-title {
    color: black !important;
}

.sidebar .nav .nav-item {
    margin-bottom: 5px;
}

.btn-yellow {
    background-color: #c6a436 !important;
    color: black !important;
}

.btn-yellow:hover {
    background-color: #ad9031  !important;
    color: black  !important;
}

.btn-brown {
    background-color: rgb(147, 83, 1);

}

.btn-brown:hover {
    background-color: rgb(147, 83, 1);

}

.navbar-toggler:hover,
.navbar-toggler:focus,
.navbar-toggler::after,
.navbar-toggler::before {
    border: 0px !important;
}

.table-striped-custom tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.table-striped-custom tbody tr:nth-child(odd) {
    background-color: rgb(248, 248, 248);
}

.table-striped-custom tbody tr:hover {
    background-color: rgb(235, 235, 235);
}


.form-control,
.select2-selection {
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
    min-height: 45px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding: 5px 10px !important;
    border-radius: 10px !important;
    border: 2px solid #c6a436 !important;
}

.form-check-input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #a08b15 !important;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    margin-right: 5px;
    cursor: pointer;
}

.form-check-input[type="radio"]:checked {
    background-color: #bda41b !important;
}

.form-check-input:checked {
    background-color: #bda41b !important;
    border: 2px solid #a08b15!important;
}

.active-user {
    background-color: rgb(200, 240, 200) !important;
    color: rgb(66, 179, 64) !important;
    border: 1px solid rgb(66, 179, 64) !important;
}

.desactive-user {
    background-color: rgb(240, 201, 200) !important;
    color: rgb(201, 62, 62) !important;
    border: 1px solid rgb(212, 88, 88) !important;
}


.btn-danger {
    background-color: #ec5e6cef !important;
    color: #000000 !important;
}

/* Estilo para bg-success */
.btn-success {
    background-color: #63ca7bde !important;
    color: #000000 !important;
}

.dropdown-toggle::after {
    transition: transform 0.3s ease-in-out;
}

/* Rotate the dropdown arrow when the dropdown is open */
.show .dropdown-toggle::after {
    transform: rotate(180deg);

}

.bg-white {
    background-color: rgb(248, 247, 247) !important;
}

#filter {

    font-size: small;
}

#filter .form-control {

    font-size: small;
}


.form-control.dark {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    border: 1px solid rgb(34, 34, 34) !important;
}

.edit_hover_class {
    background-size: cover;
    position: relative;
    /* <---------------------*/
}

.edit_hover_class i {
    display: none;
}

.edit_hover_class:hover i,
.edit_hover_class:active i {
    animation: move 1.5s ease;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
    background-color: #00000093;

    /*---------- EDIT -------------*/
    display: flex;
    justify-content: center;
    align-items: center;


}


@keyframes move {
    0% {
        background-color: #00000000;
    }

    100% {
        background-color: #00000093;
    }
}

.trap-bg {
    background-color: #0f1015 !important;
    background-position-x: center;
    background-size: auto;
    color: #ffffff !important;
}

.created-at {
    font-size: small !important;
}


.box-yellow {
    background: rgba(210, 189, 0, 0.171);
    height: 37px;
    border-radius: 7px;
    color: #a08b15;
    cursor: pointer;
}

.box-dark {
    background: rgba(0, 0, 0, 0.171);
    height: 37px;
    border-radius: 7px;
    color: #000000;
}

/* Esconde o input */
#select-file {
    display: none
}

/* Aparência que terá o seletor de arquivo */
#select-file-label {
    color: #fff;
    cursor: pointer;
    margin: 10px;
    padding: 6px 20px
}


.select2-results__message {
    background-color: #f2dede;
    border-color: #e0b1b8;
    color: #b94a48;
    font-weight: 2px;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

.select2 {
    width: 100% !important;
    margin-bottom: 0px !important;

}

.select2-dropdown {
    background-color: #fff !important;
    color: #000000 !important;
    border: 2px solid #c6a436 !important;
    border-top: 0px;
}

.select2-selection {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    padding: 0px 10px 0px 0px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.select2-selection__arrow {
    top: auto !important;
    padding-right: 5px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #c6a436 !important;
}

#filterSelect .select2-selection,
#status_filter {
    border-radius: 0px !important;
    border: 2px solid #0f1015 !important;
}


#filterSelect .select2-dropdown {
    background-color: #fff !important;
    color: #000000 !important;
    border: 2px solid #0f1015 !important;
    border-top: 0px;
}


#filterSelect .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #0f1015 !important;
}

#status_filter,
#status_filter option {
    cursor: pointer !important;
}

.darkdropdown-item:active, .dropdown-item:focus, .dropdown-item:visited{
    color: white !important;
    background-color: #ad9031;
}

.info{
    background-color: #f0efec !important;
    border-top: #bda41b 4px solid !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.page-item a{
    /* border-radius: 15px !important; */
    padding: 5px 10px;
    background-color: #c6a436 !important;
    color: #000 !important;
}

.page-item .active{
    background-color: #000 !important;
    color: #c6a436 !important;
}