{% load static %}
<div id="records" class="col-12 col-lg-9">
    
    <div id="main" class="card">
      <div class="card-body p-0">
    
        <!-- <p class="card-description"> Add class <code>.table-bordered</code>
        </p> -->
        <div class="table-responsive rounded-3">
          <table class="table table-striped-custom">
            <thead>
              <tr class="table-dark" >
                <th> <i class="fa-solid fa-calendar-days m-1"></i> Data </th>
                <th><i class="fa-solid fa-bug m-1"></i>  Número de Pragas </th>
                <th>
                    <i class="fa-solid fa-temperature-three-quarters m-1"></i> Temperatura 
                </th>
                <th> 
                    <i class="fa-solid fa-gauge-simple-high m-1"></i> Pressão Atmosférica 
                </th>
                <th>  <i class="fa-solid fa-eye m-1" aria-hidden="true" ></i> Ações </th>
              </tr>
            </thead>
            <tbody class="text-dark">
                {% for analysis_log in analysis_logs%}
              <tr id="{{analysis_log.id}}">
                <td> {{ analysis_log.date | date:"d/m/Y H:i:s" }} </td>
                <td> {{ analysis_log.pests_number }} pragas </td>
                <td> {{ analysis_log.temperature | floatformat:2 }} °C</td>
                <td> {{ analysis_log.pressure | floatformat:2 }} Pa</td>
                <td class="text-center"> 

                    <button class="openModalView btn btn-yellow" type="button" class="btn btn-primary" data-bs-toggle="modal" 
                    data-bs-date="{{ analysis_log.date }}"
                    data-bs-pests_number="{{ analysis_log.pests_number }}"
                    data-bs-temperature="{{  analysis_log.temperature | floatformat:2  }}"
                    data-bs-pressure="{{ analysis_log.pressure | floatformat:2  }}"
                    data-bs-captured-img="{{ analysis_log.captured_img_path.url }}" data-bs-processed-img="{{ analysis_log.processed_img_path.url }}" data-bs-target="#viewModal">
                        <i class="fa-solid fa-eye m-0" aria-hidden="true" ></i> Visualizar
                    </button>
                 </td>
              </tr>
              {% empty %}
              <tr>
               <td colspan="5">
                 <div class="my-3 alert alert-danger text-center py-4">
                   <i class="fa fa-warning mb-3 fs-4" aria-hidden="true"></i>
                   <div>
                     Nenhum registro capturado por sua armadilha foi encontrado
                   </div>
                 </div>
               </td>
              </tr>
           {% endfor %}           
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>