<div class="col-12 col-sm-6 col-md-5 col-lg-3">
    <div class="card shadow">
     <div class="card-header bg-dark">Alterar Senha</div>
     <div class="card-body">
        <form id="form-change" action="/usuarios/mudar-senha" method="post" class="text-dark">
            {% csrf_token %}
            <div class="mb-3 col-12  form-group">
                <label for="{{change_password_form.phone.id_for_label}}" class="form-label">{{change_password_form.old_password.label}}</label>
                {{change_password_form.old_password}}
            </div>
        
            <div class="mb-3 col-12  form-group">
                <label for="{{change_password_form.new_password1.id_for_label}}" class="form-label">{{change_password_form.new_password1.label}}</label>
                {{change_password_form.new_password1}}
            </div>
        
            <div class="mb-3 col-12  form-group">
                <label for="{{change_password_form.new_password2.id_for_label}}" class="form-label">{{change_password_form.new_password2.label}}</label>
                {{change_password_form.new_password2}}
            </div>
        </form>
     </div>
     <div class="card-footer text-end">
        <button id="btn-change-password" class="btn text-dark" style="background:  #c6a436" > <i class="fa-solid fa-circle-right"></i> Alterar Senha </button>
    </div>
    </div>
 </div>