<div class="d-block col-12 col-lg-3 text-center p-0">
    <form action="/usuarios/alterar-imagem" id="form-change-image" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if profile %}
        <img class="rounded-circle  bg-dark  border border-dark shadow profile-img"
            src="{{user.clientprofile.img_path.url}}" alt="" width="120" height="120">
        {% else %}
        <img class="rounded-circle border bg-dark border-1 border-dark shadow profile-img"
            src="/media/profile_imgs/icon-profile.png" alt="" width="120" height="120">
        {% endif %}
        <div class="d-flex justify-content-center">
            <!-- <a href="" class="mt-3 btn btn-dark">
           <i class="fa fa-photo" aria-hidden="true"></i>
           Alterar Foto
        </a> -->

            <label id="select-file-label" class="btn btn-dark" for='select-file'>
                <i class="fa fa-photo" aria-hidden="true"></i>
                Alterar Foto </label>
            <input name="img_path" id='select-file' class="btn" type='file' accept="image/*">

        </div>
    </form>
</div>