{% load static %}

<div id="records" class="col-12">

  <div class="card mb-2 py-3">
    <form id="filter-users" method="GET" action="/usuarios" class="col-12 ">
      <div class="col-12 d-flex justify-content-between align-items-center">
        <div class="p-0 border border-1 border-secondary shadow-sm bg-light d-flex rounded-pill mx-2 col-8">
          <div class="d-flex align-items-center px-3 py-2"><i class="fa-solid fa-magnifying-glass text-dark"></i></div>
          <input name="searchField" type="text" class="form-control-plaintext" placeholder="Pesquisar...">
          
          <div title="Filtrar" role="button" class="d-flex align-items-center px-3 py-2 navbar-toggler" type="button" data-toggle="collapse" data-target="#filter" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            
            <img src="{% static 'img/filter.svg' %}" alt="Filtrar" title="Filtrar" width="20px">
          </div>
         </div>
         
         
      </div>

       <div id="filter" class="mt-3 collapse navbar-collapse text-dark py-2 px-3" >
          <div class="row">
            <div class="mb-3 col-12 col-md-6 col-lg-3">
              <label for="exampleInputEmail1" class="form-label">Nome</label>
              <input type="text" name="first_name" class="form-control dark bg-light" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 col-12 col-md-6 col-lg-3">
              <label for="exampleInputEmail1" class="form-label">Sobrenome</label>
              <input type="text" name="last_name" class="form-control dark bg-light" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 col-12 col-md-6 col-lg-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input  type="text" name="email"  class="form-control dark bg-light" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 col-12 col-md-6 col-lg-3">
              <label for="exampleInputEmail1" class="form-label">CPF</label>
              <input id="filter_cpf" maxlength="11"  type="text" name="cpf"  class="form-control dark bg-light" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div class="mb-3 col-12 col-md-6 col-lg-3">
              <label for="exampleInputEmail1" class="form-label">Endereço</label>
              <input type="text" name="address"  class="form-control dark bg-light" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 col-12 col-md-6 col-lg-3">
              <label for="exampleInputEmail1" class="form-label">Telefone</label>
              <input id="filter_phone" maxlength="19" type="text" name="phone"  class="form-control dark bg-light" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
          <div class="mb-3 col-12 col-md-6 col-lg-3">
            <label for="exampleInputEmail1" class="form-label">Data de Aniversário</label>
            <input type="date" name="birthday" class="form-control dark bg-light" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3 col-12 col-md-6 col-lg-3">
            <label for="exampleInputEmail1" class="form-label">Status</label>
           
            <select name="status" id="" class="form-control  dark bg-light">
                <option value="0">Todos</option>
                <option value="1">Ativos</option>
                <option value="2">Desativados</option>
            </select>
          </div>
          </div>
      </div>

    </form>
        
</div>

  <div id="message" class="mt-4 alert alert-danger alert-white rounded justify-content-between d-none">
    <div class="d-flex align-items-center"><span class="icon me-1"><i
          class="fa-solid fa-circle-exclamation"></i></span><strong id="type-message" class="me-2">Erro! </strong><span id="content-message">O tipo de usuário informado é inválido!</span></div>
    <div class="text-center align-self-center"><button id="close-message"
        class="btn-sm btn-danger text-light rounded-circle "><i class="fa fa-times-circle text-light"
          aria-hidden="true"></i></button></div>
  </div>

  <div id="main" class="card">
    <div class="card-body p-0">

      <!-- <p class="card-description"> Add class <code>.table-bordered</code>
        </p> -->
      <div class="table-responsive rounded-3">
        <table class="table table-striped-custom">
          <thead>
            <tr class="table-dark">
              <th> <i class="fa fa-user m-1" aria-hidden="true"></i> Nome </th>

              <th>
                <i class="fa-solid fa-envelope m-1"></i> Email
              </th>
              <th>
                <i class="fa fa-black-tie m-1" aria-hidden="true"></i> Função
              </th>
              <th class="text-center">
                <i class="fa fa-toggle-on m-1" aria-hidden="true"></i> Status
              </th>
              <!-- <th>  <i class="fa-solid fa-eye m-1" aria-hidden="true" ></i> Visualizar </th> -->

              <th class="text-center"> <i class="fa-solid fa-eye m-1 " aria-hidden="true"></i> Ações </th>
            </tr>
          </thead>
          <tbody class="text-dark">
            {% for user in users%}
            <tr>
              <td class="d-flex align-items-center border-0">
                {% if user.is_superuser %}
                <img class="img-xs rounded-circle border bg-dark border-1 border-dark shadow"
                  src="/media/profile_imgs/icon-profile.png" alt="">
                {% else %}
                <img class="img-xs rounded-circle  bg-dark  border border-dark shadow"
                  src="{{user.clientprofile.img_path.url}}" alt="">

                {% endif %} <span class="ms-3">{{ user.first_name }} {{user.last_name}}</span>
              </td>
              <td> {{ user.email }} </td>
              <td> {% if user.is_superuser %}
                Admin
                {% else %}
                Cliente
                {% endif %}
              </td>
              <td class="text-center"> {% if user.is_active %}
                <div class="rounded-3 active-user p-2 text-center">Ativo</div>
                {% else %}
                <div class="rounded-3 desactive-user p-2 text-center">Desativado</div>
                {% endif %}
              </td>
              <!-- <td> {{ analysis_log.pressure }} Pa</td> -->
              <td class="text-center">

                {% if user.is_active %}

                <a href="/usuarios/desativar/{{user.id}}"  type="button" class="btn btn-danger control-btn">
                  <i class="fa-solid fa-toggle-off"></i> Desativar
                </a>
 
                {% else %}
                <a href="/usuarios/ativar/{{user.id}}" type="button" class="px-4 btn btn-success control-btn">
                  <i class="fa-solid fa-toggle-on"></i> Ativar
                </a>

                {% endif %}
                <button class="openModalView btn btn-yellow " type="button" data-bs-toggle="modal"
                data-bs-first_name="{{ user.first_name }}"
                data-bs-last_name="{{ user.last_name }}"
                data-bs-email="{{ user.email }}"
                data-bs-cpf="{{ user.clientprofile.cpf }}"
                data-bs-birthday="{{ user.clientprofile.birthday }}"
                data-bs-phone="{{ user.clientprofile.phone }}"
                data-bs-address="{{ user.clientprofile.address }}"
                data-bs-url="{{ user.clientprofile.img_path.url }}"
                data-bs-id="{{ user.id }}"
                 data-bs-target="#viewModal" {% if user.is_superuser %} disabled {% endif %}>
                  <i class="fa-solid fa-eye m-0" aria-hidden="true"></i> Visualizar
                </button>
              </td>
            </tr>

            {% empty %}

              <div class="my-3 alert alert-danger text-center py-4">
                <i class="fa fa-warning mb-3 fs-4" aria-hidden="true"></i>
                <div>
                  Nenhum usuário foi encontrado!
                </div>
              </div>

            {% endfor %}
          </tbody>
        </table>
        <script src="{% static 'js/script.js' %}"></script>

        <script>
         
          $(document).ready(managerRecords);
          var paginationHandler = setupPagination('.page-link', '#container-content');
          paginationHandler();
        </script>
      </div>
    </div>
  </div>
</div>
</div>