{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      
      {% block title %}
      {% endblock %}
    </title>

    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'assets/vendors/jvectormap/jquery-jvectormap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.theme.default.min.css' %}">
    
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <!--- <link rel="stylesheet" href="{% static 'css/ceteia.css' %}"> -->
    <!-- End layout styles -->
    <!-- <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" /> -->
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}" />
    <script src="https://kit.fontawesome.com/6a5dd2730c.js"></script>
  </head>
  <body class="sidebar-icon-only">
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="/"><img src="{% static 'img/logo_max.png' %}" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="/"><img src="{% static 'img/logo_min.png' %}" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item nav-category">
            <span class="nav-link">Navegação</span>
          </li>
          <li id="dashboard" class="nav-item menu-items">
            <a class="nav-link" href="/">
              <span class="menu-icon">
                <i class="fa-solid fa-gauge-simple-high"></i>
              </span>
              <span class="menu-title">Painel</span>
            </a>
          </li>
          {% if request.user.is_superuser %}
          <li id="accounts" class="nav-item menu-items">
            <a class="nav-link" href="/usuarios">
              <span class="menu-icon">
                <i class="fa fa-user" aria-hidden="true"></i>
              </span>
              <span class="menu-title">Usuários</span>
            </a>
          </li>
          {% endif %}
          <li id="pests_trap" class="nav-item menu-items">
            <a class="nav-link" href="/armadilhas">
              <span class="menu-icon">
                <i class="fa-solid fa-bug"></i>
              </span>
              <span class="menu-title">Armadilhas</span>
            </a>
          </li>
          <li id="analysis_logs" class="nav-item menu-items">
            <a class="nav-link" href="/monitoramentos">
              <span class="menu-icon">
                <i class="fa-solid fa-crosshairs"></i>
              </span>
              <span class="menu-title">Monitoramento</span>
            </a>
          </li>
          <li id="dashboard" class="nav-item menu-items">
            <a class="nav-link" href="/painel">
              <span class="menu-icon">
                <i class="fa-solid fa-chart-simple"></i>
              </span>
              <span class="menu-title">Gráficos</span>
            </a>
          </li>
          
          <!-- <li class="nav-item menu-items">
            <a class="nav-link" href="">
              <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
              </span>
              <span class="menu-title">Gráficos</span>
            </a>
          </li> -->
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="/"><img src="{% static 'img/logo_min.png' %}" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch justify-content-end">
            <button class="toggler toggler-left align-self-center d-md-none d-lg-block" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    {% if user.is_superuser %}
                    <img class="img-xs rounded-circle profile-img" src="/media/profile_imgs/icon-profile.png"  alt=""  >
                    {% else %}
                    <img class="img-xs rounded-circle profile-img" src="{{user.clientprofile.img_path.url}}" alt="">
                    
                    {% endif %}
                    <p id="username-space" class="mb-0 d-none d-sm-block navbar-profile-name">
                      {{user.first_name}} {{user.last_name}}
                    </p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0 text-light">Perfil</h6>
                  <div class="dropdown-divider"></div>
                  <a href="/usuarios/perfil" class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Configurações</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item" href="/usuarios/logout">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Sair</p>
                    </div>
                  </a>
                
                </div>
              </li>
            </ul>
            <button class="toggler right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div   {% if traps %}
            id="traps"
           {% endif %} class="content-wrapper p-0"
        
          >
            {% block content %}
            {% endblock %}
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer" >
            <div class="d-sm-flex justify-content-center text-center">
              <span class="text-dark d-block text-center text-sm-left d-sm-inline-block">Copyright © AI PRAGA 2023</span>

            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'assets/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'assets/vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'assets/js/misc.js' %}"></script>
    <script src="{% static 'assets/js/settings.js' %}"></script>
    <script src="{% static 'assets/js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <!-- End custom js for this page -->
    {% block js %}
    {% endblock %}
    <script>
      navIcons = {
        //url    :  id da div
        "" : "dashboard",
        "painel" : "dashboard",
        "usuarios" : "accounts",
        "armadilhas" : "pests_trap",
        "monitoramentos" : "analysis_logs",
    };

    var url = window.location.href;
    var domain = window.location.origin;
    var argument = url.replace(domain, "").replace(/^\//, "").split("/")[0];
    
    for(var key in navIcons){
        if(key == argument){
            $('.nav-item-list').removeClass("active");
            document.getElementById(navIcons[key]).classList.add("active");
            break;
        }
    };
    </script>
  </body>
</html>
