<div class="col-12 mb-4">
    <div class="card">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="row d-flex justify-content-between mb-3">
                    <div class="row align-items-center col-12 col-md-auto">
                        <h3 class="col-12 col-md-auto">Gráfico em Linha</h3>
                    </div>
            
                    <button id="toggleInfoBtn" class="btn btn-yellow col-auto ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#chartInfo" aria-expanded="false" aria-controls="chartInfo">
                        <i class="fa fa-info-circle" aria-hidden="true"></i> Informações
                    </button>
                </div>
            
                <div class="text-dark col-12">

                    <div class="collapse" id="chartInfo">
                        <p> 
                            Apresentando <span id="variableInfo">Informações sobre Número de Pragas</span>
                        </p>
                        <p >
                            Selecione a variável desejada para visualizar dados específicos fornecidos pelo
                            gráfico unificado de linhas. Este gráfico oferece informações sobre as
                            tendências ao longo do tempo e padrões relacionados à variável escolhida, permitindo
                            identificar sazonalidades, variações e tendências climáticas. Por exemplo:
                            <ul>
                                <li><strong>Temperatura:</strong> Analise as variações de temperatura ao longo
                                    do tempo para identificar padrões sazonais e eventos climáticos extraordinários.
                                </li>
                                <li><strong>Pressão Atmosférica:</strong> Observe as mudanças na pressão atmosférica
                                    para identificar tendências climáticas, eventos extraordinários e correlações com
                                    outros fatores ambientais.</li>
                                <li><strong>Número de Pragas:</strong> Avalie as tendências no número de pragas ao
                                    longo do tempo, identificando picos sazonais, padrões diários/semanais e eventos
                                    extraordinários.</li>
                            </ul>
                            Essas análises proporcionam idéias para tomar decisões informadas em
                            práticas agrícolas, como a implementação de estratégias de manejo integrado de pragas, definição de
                            níveis de alerta e compreensão das relações entre diferentes variáveis ambientais.
                            Explore e compare os dados das variáveis para otimizar o cuidado com sua plantação.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="mt-3">
                <form id="lineChartForm" class="row text-dark mb-3">
                    <div class="mb-3 col-12 col-md-6 col-lg-3">
                        <label for="initialDate" class="form-label">Data inicial</label>
                        <input name="initial_date" type="date" class="form-control dark bg-light" id="initialDate" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3 col-12 col-md-6 col-lg-3">
                        <label for="finalDate" class="form-label">Data Final</label>
                        <input name="final_date" type="date" class="form-control dark bg-light" id="finalDate" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3 col-12 col-md-6 col-lg-3">
                        <label for="minValue" class="form-label">Mín.</label>
                        <input name="min_value" type="number" class="form-control dark bg-light" id="minValue" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3 col-12 col-md-6 col-lg-3">
                        <label for="maxValue" class="form-label">Máx.</label>
                        <input name="max_value" type="number" class="form-control dark bg-light" id="maxValue" aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3 col-12 col-md-6 col-lg-3">
                        <label for="variableSelect" class="form-label">Variável:</label>
                        <select id="variableSelect" class="form-select col-auto form-control dark bg-light">
                            <option value="temperature">Temperatura</option>
                            <option value="pressure">Pressão Atmosférica</option>
                            <option value="pests">Número de Pragas</option>
                        </select>
                    </div>
                    

                    <div class="mb-3 col-12 col-md-6 col-lg-3">
                        <label for="pestTrap" class="form-label">Armadilhas:</label>
                        <select id="pestTrap" name="pest_trap" class="form-select col-auto form-control dark bg-light">
                            <option value="">Todas</option>
                            {% for pest_trap in pest_traps %}
                                <option value="{{pest_trap.id}}">{{pest_trap.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3 col-12 col-md-6 col-lg-3">
                        <label for="dateColumn" class="form-label">Agrupar por:</label>
                        <select id="dateColumn" name="dateColumn" class="form-select col-auto form-control dark bg-light">
                            <option value="day">Dia</option>
                            <option value="week">Semana</option>
                            <option value="year">Ano</option>
                        </select>
                    </div>
                    
                   
                </form>
            </div>
            <div>
                <div class="card w-100 h-100">
                    <canvas id="lineChart" class="mx-1" style="width: 300px; height: 300px;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
var myLineChart;

$(document).ready(function() {
    function renderChart(data, style) {
        if (myLineChart) {
            myLineChart.destroy();
        }

        var ctx = document.getElementById('lineChart').getContext('2d');
        myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: data.labels,
                datasets: [{
                    label: style.name,
                    data: data.data,  
                    backgroundColor: style.background,   
                    borderColor: style.border,   
                    borderWidth: 2 ,
                    lineTension: 0, // Define a curva da linha como 0 para linhas retas
                    pointRadius: 4, // Tamanho dos pontos no gráfico
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        type: 'linear',
                        position: 'bottom'
                    },
                    y: {
                        type: 'linear',
                        position: 'left'
                    }
                }
            }
        });
    }

    function updateChart(variable) {
        var formData = $('#lineChartForm').serialize();  
        var url;
        var styles = {
            'border': '#000',
            'background': '#302F2F',
            'name': 'Número de Pragas'
        }
        switch (variable) {
            case 'temperature':
                url = '/graficos/linha/media-de-temperatura';
                styles = {
                    'border': '#816813',
                    'background': '#c6a436d3',
                    'name': 'Média de Temperatura'
                }
                break;
            case 'pressure':
                url = '/graficos/linha/media-de-pressao';
                styles = {
                    'border': '#D8CB0E',
                    'background': '#F2E96F',
                    'name': 'Média de Pressão de Atmósferica'
                }
                break;
            case 'pests':
                url = '/graficos/linha/numero-de-pragas';
                break;
            default:
                break;
        }

        $.ajax({
            url: url,
            method: 'GET',
            data: formData,
            dataType: 'json',
            success: function(response) {
                renderChart(response, styles);  
            },
            error: function(error) {
                console.error('Erro na solicitação AJAX:', error);
            }
        });
    }

    $('#lineChartForm').on('change', function() {
        var selectedVariable = $('#variableSelect').val();
        updateChart(selectedVariable);

        // Update information based on the selected variable
        switch (selectedVariable) {
            case 'temperature':
                $('#variableInfo').html('Informações sobre Temperatura.');
                break;
            case 'pressure':
                $('#variableInfo').html('Informações sobre Pressão Atmosférica.');
                break;
            case 'pests':
                $('#variableInfo').html('Informações sobre Número de Pragas.');
                break;
            default:
                $('#variableInfo').html('Selecione uma variável para exibir as informações correspondentes.');
                break;
        }
    });

    updateChart($('#variableSelect').val());
});
</script>
