{% extends 'error_pages/base.html' %}

{% block content %}


<div class="row flex-grow">
  <div class="col-lg-7 mx-auto text-white">
    <div class="row align-items-center d-flex flex-row">
      <div class="col-lg-6 text-lg-right pr-lg-4">
        <h1 class="display-1 mb-0">500</h1>
      </div>
      <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
        <h2>DESCULPE!</h2>
        <h3 class="font-weight-light">Houve um erro interno no servidor.</h3>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 text-center mt-xl-2">
        <a class="text-white font-weight-medium btn btn-yellow" href="/">  <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Voltar para ínicio</a>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 mt-xl-2">
        <p class="text-white font-weight-medium text-center">Copyright © AI PRAGA 2023</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}

