{% extends 'base.html' %}

{% block content %}


<div class="container col-10 mb-5 mt-5">
      <div id="" class="row col-12">
        {% for trap in traps %}
        <div class="col-xl-4 col-md-6 col-12 text-dark mb-4">

          <a href="/monitoramentos/{{trap.id}}" class="card shadow text-decoration-none" >

            <div class="p-3">
              <div class="d-flex justify-content-between align-items-center">
                <h3 class="mb-0">
                  Armadilha {{trap.name}}
                </h3>
              
              </div>
              <span class="text-dark created-at">Implantada em: {{trap.created_at.date }}</span>
            </div>
            <div class="card-body">

              <div class="d-flex">
                <div class="col-6 p-0 d-flex align-items-end">
                 {% if trap.is_active %}
                 <span class="btn btn-success rounded-pill" aria-disabled="true">
                  <i class="fa-regular fa-circle-check"></i> Ativa
                </span>
                 {% else %}
                 <span class="btn btn-danger rounded-pill" aria-disabled="true">
                  <i class="fa-regular fa-circle-xmark"></i> Desativada
                </span>
                 {% endif %}
                </div>
                <div class="col-6 text-end">
                  <i class="fa-solid fa-bug display-1" style="color: rgba(0, 0, 0, 0.822);"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}

  </div>
</div>


{% endblock %}
<script>
  window.addEventListener('load', function () {
    var pai = document.querySelector('#trap-container');
    var filho = document.querySelector('#traps');

    // Obtém as dimensões do filho
    var filhoWidth = filho.offsetWidth;
    var filhoHeight = filho.offsetHeight;

    // Atualiza as dimensões do pai
    pai.style.width = filhoWidth + 'px';
    pai.style.height = filhoHeight + 'px';
  });
</script>
{% block js %}


{% endblock %}